@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.preserve-3d {
  transform-style: preserve-3d;
}

body {
  cursor: url("assets/cursor.png"), auto;
}
.parallax {
  /* The image used */
  background-image: url("https://images.unsplash.com/photo-1598153346810-860daa814c4b?auto=format&fit=crop&q=80");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}